/* ===== FINAL FOOTER FIX ===== */

.footer{
    background:#040812 !important;
}

.footer h2{
    color:#ffffff !important;
}

.footer p{
    color:#f1f5f9 !important;
}

.footer span{
    color:#f1f5f9 !important;
}

.footer a{
    color:#ffffff !important;
    text-decoration:none;
}

.footer *{
    color:#f1f5f9;
}
